[submodule "external/bottom-up-attention.pytorch"]
	path = external/bottom-up-attention.pytorch
	url = https://github.com/MILVLG/bottom-up-attention.pytorch
[submodule "external/apex"]
	path = external/apex
	url = https://github.com/NVIDIA/apex
