[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.7.1"
torchvision = "==0.8.2"
torchaudio = "==0.7.2"
torchtext = "==0.8.1"
sacrebleu = "==1.4.14"
opencv-python = "==4.4.0.46"
requests = "==2.25.1"
pycocotools = "==2.0.2"
ray = "==1.1.0"
fvcore = "==0.1.2.post20201216"
nltk = "==3.5"
jieba = "==0.42.1"
sacremoses = "==0.0.45"
scipy = "==1.5.4"
Pillow = "==8.0.1"
cityscapesScripts = "==2.1.7"

[dev-packages]

[requires]
python_version = "3.6"
